.parentdiv-boundary {
    position: static;
    width: 100%;
    height: 600px;
}

.titleCreateIdentity {
    text-align: center;
}


.form-label {
    margin-left: 10px;
}

.input-Form {

    margin-left: 20px;
    width: 140px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
}

.input-radio {
    width: max-content;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px;
}

.form-select
{
    margin-left: 20px;
    width: 130px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(177, 11, 11);
    border-radius: 4px;
    box-sizing: border-box;
}

.btn btn-info {
    margin-left: 40px;
}

// .IdentifiersElem{
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: max-content;
//     height: max-content;
//     z-index: 0;
// }

// .contactIdentifiersElem {
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: max-content;
//     height: max-content;
//     z-index: 1;
// }

// .createIdentityElement {
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: 540px;
//     height: max-content;
//     z-index: 2;
// }

// .contactIdentifiersElement {
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: max-content;
//     height: max-content;
//     z-index: 3;
// }

// .getIdentifiersElement {
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: max-content;
//     height: max-content;
//     z-index: 4;
// }

// .updateIdentityPwdElement {
//     display: none;
//     scale: 0.8;
//     position: absolute;
//     top: 0;
//     border: solid;
//     width: max-content;
//     height: max-content;
//     z-index: 5;
// }

.modal-backdrop.fade.show{
    display:none;
}

.modal-backdrop {
    display: none;
    scale: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
  
.modal {
//modal custom bachground/shadow
background: rgba(0,0,0,0.5);
}