<div class="container-fluid">
  <div class="row">
    <div  class="col-sm-12 col-md-12 col-lg-12 bg-primary mt-2" *ngIf="error==true">
      <p>
        {{errorMsg}}
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 bg-black mt-2" style="display: block; position:relative">
      <mat-form-field>
          <mat-label>Please choose the required forms to display:</mat-label>
          <mat-select [(ngModel)]="selectedValue" (ngModelChange)="nameChanged($event)" ngModel  name="sgidfForm">
            <mat-option *ngFor="let sgidfForm of sgidfForms" [value]="sgidfForm.value">
              {{sgidfForm.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <button class="btn btn-primary" (click)="addNewElem()" style="margin-left: 2%; margin-right: 2%;">Add new Forms</button>
      <mat-form-field *ngIf="show==true">
        <mat-label>Attach:</mat-label>
        <mat-select [(ngModel)]="attachVal" (ngModelChange)="updateAttachVal($event)" ngModel  name="sgidfForm">
          <mat-option *ngFor="let attachForm of attachForms" [value]="attachForm.value">
            {{attachForm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="show==true">
        <mat-label>Attached:</mat-label>
        <mat-select [(ngModel)]="attachedVal" (ngModelChange)="updateAttachedVal($event)" ngModel  name="sgidfForm">
          <mat-option *ngFor="let attachedForm of attachedForms" [value]="attachedForm.value">
            {{attachedForm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" *ngIf="show==true" class="btn btn-primary" (click)="attach()" style="margin-left: 2%;">Attach</button>

      <mat-form-field *ngIf="detachState==true" style="margin-left: 2%;">
        <mat-label>Detach:</mat-label>
        <mat-select [(ngModel)]="dettachedVal" (ngModelChange)="updateDettachedVal($event)" ngModel  name="sgidfForm">
          <mat-option *ngFor="let dettachTrack of dettachTracks" [value]="dettachTrack">
            {{dettachTrack}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" *ngIf="detachState==true" class="btn btn-primary" (click)="detach()" style="margin-left: 2%;">Detach</button>
    </div>
    
    <div #parent id="parentdiv" class="" style="border:solid; display: block; position:relative">
      <div class="container-fluid">
        <div class="row">
          <!-- this div will later include all the inserted forms -->
          <div>
            <!-- Create Identity -->
            <div #createIdentityElement class="col-sm-2 col-md-4 col-lg-3 bg-primary" cdkDrag (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary">
              <form [formGroup]="createFullIdentity" (ngSubmit)="createNewUser(createFullIdentity)" novalidate>
                <br>
               <h4 class="titleCreateIdentity"> Create identity</h4> <hr>
                <!-- Create Identity Profile-->
                <div>
                  <!-- Form group Profile -->
                  <div formGroupName="profile">
                    <h4>1- Profile</h4>
                    <hr> 
                    <label for="formGroupExampleInput" class="form-label">displayName :</label>  
                      <input type="text" name="profiledisplayName" formControlName="displayName" class="input-Form">
                      <br>
                      <label for="formGroupExampleInput" class="form-label">civility :</label>  
                      <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="civility">
                        <option selected>Select Civility</option>
                        <option *ngFor="let civility of civilitys" [ngValue]="civility.id"> {{civility.id}} </option>
                      </select>
                      <br>
                      <label for="formGroupExampleInput" class="form-label">avatar :</label>  
                      <input type="text" name="profileavatar" formControlName="avatar" class="input-Form">
                      <br> 
                      <label for="formGroupExampleInput" class="form-label">timeZone :</label>  
                      <input type="text" name="profiletimeZone" formControlName="timeZone" class="input-Form">
                      <br> 
                      <label for="formGroupExampleInput" class="form-label">language :</label>  
                      <input type="text" name="profilelanguage" formControlName="language" class="input-Form">
                      <br>                 
                      <label for="formGroupExampleInput" class="form-label">First name :</label>  
                      <input type="text" name="profileFirstName" formControlName="firstName" class="input-Form">
                      <br>
                      <label for="formGroupExampleInput" class="form-label">Last name :</label> 
                      <input type="text" name="profileLastName" formControlName="lastName" class="input-Form">
                      <br>
                      <label for="formGroupExampleInput" class="form-label">BirthDay :</label>
                      <input type="date" name="profileBirthDate" formControlName="birthdate" class="input-Form">
                      <br>
                      <label for="formGroupExampleInput" class="form-label" >Gender</label>
                      <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="gender">
                        <option selected>Select Gender</option>
                        <option *ngFor="let gender of genders" [ngValue]="gender.id"> {{gender.name}} </option>
                      </select>
                    </div>
                     <div formGroupName="password">
                        <h4>2- Mot de passe</h4>
                        <hr>
                        <label for="formGroupExampleInput" class="form-label">Password :</label>
                        <input type="password" formControlName="value" name="identitypassword" class="input-Form">
                      </div><hr>

                  <!-- Form group contactIdentifiers -->
                  <div formGroupName="identifiers" >
                    <h4>3-identifiers</h4>
                    <hr>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                        <option selected>Select identifierType</option>
                        <option *ngFor="let identifierType of identifierTypes" [ngValue]="identifierType.name"> {{identifierType.name}} </option>
                      </select>
                      Value: 
                      <input type="text" formControlName="value" class="input-Form"> <br>
                      <!-- is Password:  -->
                      <!-- <input type="checkbox" id="isPassword" name="isPassword" formControlName="isPassword"> -->
                    
                  </div><hr>

                  <!-- Form group password -->
                  
                  <!-- Form group contactIdentifiers -->
                  <!-- <div *ngFor="let identifier of createFullIdentity.get('identifiers'); let i=index"> -->
                  <!-- <div formGroupName="contactIdentifiers"> -->
                  <div formControlName="contactIdentifiers[0]">
                      <h4>4-Contact identifier</h4><hr>
                      <p>
                        <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                          <option selected>Select ContactidenfierType</option>
                          <option *ngFor="let contactIdentifierType of contactIdentifierTypes" [ngValue]="contactIdentifierType.name"> {{contactIdentifierType.name}} </option>
                        </select>
                        <br>
                        Value:  
                        <input type="text" formControlName="value" class="input-Form">
                      </p>
                    </div>
                  <!-- </div> -->
                </div>
                <hr>
                <div class="col-6 mx-auto">
                  <button class="btn btn-info">Create identity</button>
                </div>
                <hr>
                <br>
              </form>
            </div>

            <!-- CRUD Contact Identifiers Email/Mobile -->
            <div #contactIdentifiersElement class="col-sm-2 col-md-4 col-lg-3 bg-primary" cdkDrag (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary">
              <form [formGroup]="contactIdentifiersForms" (ngSubmit)="contactIdentifiersFn(contactIdentifiersForms)" novalidate>
                <h4 class="titleCreateIdentity">Get Contact Identifier</h4> <hr>
                <h4>Select action: </h4>
                <p>
                  <input type="radio" name="action" (cheked)="setAction('update')" (change)="setAction('update')" class="input-Form"> Update contact Identifier
                  <input type="radio" name="action" (cheked)="setAction('add')" (change)="setAction('add')" class="input-Form"> Add contact Identifier
                  <input type="radio" name="action" (cheked)="setAction('delete')" (change)="setAction('delete')" class="input-Form"> Delete contact Identifier
                </p>
                <div *ngIf="action!='delete'">
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Select Type</option>
                    <option *ngFor="let contactIdentifierType of contactIdentifierTypes" [ngValue]="contactIdentifierType.name"> {{contactIdentifierType.name}} </option>
                  </select>
                  <div>
                    <label for="formGroupExampleInput" class="form-label">Password :</label>
                    <input type="checkbox" id="isPassword" name="isPassword" formControlName="isPassword" class="input-Form">
                  </div>
                  <div>
                    <p>Value:</p>
                    <input type="text" formControlName="value"  class="input-Form">
                  </div>
                </div>
                <!-- <div>
                  <button type="submit" [disabled]="!contactIdentifiersForms.valid">Update status</button>
                </div> -->
                <div class ="col-6 mx-auto">
                  <button type="submit"  class="btn btn-info">Update status</button>
                </div>
              </form>
            </div>

            <!-- CRUD get Identifier ID -->
            <div #getIdentifiers class="col-sm-2 col-md-4 col-lg-3 bg-primary" cdkDrag (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary">
              <form [formGroup]="getIdentifier" (ngSubmit)="getIdentifierId(getIdentifier)" novalidate>
                <h4 class="titleCreateIdentity">Get Identity</h4> <hr>
                <div>
                  <label for="formGroupExampleInput" class="form-label">Email :</label>
                  <input type="email" name="getIdentifierEmail" required formControlName="email" class="input-Form">
                </div>
                <div class ="col-6 mx-auto">
                  <button type="submit"  class="btn btn-info">Get user ID</button>
                </div>
              </form>
            </div>
            <div #getIdentifiers class="col-sm-2 col-md-4 col-lg-3 bg-primary" cdkDrag (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary">
<!--               <form [formGroup]="updateIdentityPwd" (ngSubmit)="updateIdentityPwd(updateIdentityPwd)" novalidate>
 -->                <form [formGroup]="updateIdentityPwd" novalidate>
                  <h4 class="titleCreateIdentity">Update Identity password</h4> <hr>
                <div>
                  <label for="formGroupExampleInput" class="form-label">Old password :</label>
                  <input type="password" name="isPassword" class="input-Form">
                </div>
                <div>
                  <label for="formGroupExampleInput" class="form-label">New password :</label>
                  <input type="password" name="isPassword" class="input-Form">
                </div>
                <div class ="col-6 mx-auto">
                  <button type="submit"  class="btn btn-info">Change password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>