<div class="container-fluid">
  <div class="row" style="display:flex ;">
    <div class="col-sm-12 col-md-12 col-lg-12 bg-primary mt-2" *ngIf="error==true">
      <p>
        {{errorMsg}}
      </p>
    </div>
    <!-- Modal -->
    <div class="modal" id="attach" tabindex="-1" aria-labelledby="attachLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content text-body">
          <div class="modal-header text-body">
            <h5 class="modal-title">Attach forms</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="color:white;"><span class="visually-hidden">Close</span></button>
          </div>
          <div class="modal-body text-body">
            <label>Attach from:</label> <br>
            <input class="form-check-input" type="radio" name="attachVal" id="attachVal">
            <label class="form-check-label" for="attachVal">
              None
            </label>
            <div class="form-check text-body" *ngFor="let attachForm of attachForms">
              <input #radioEvent class="form-check-input text-body" type="radio" name="attachVal" id="attachVal" (click)="updateAttachedVal(attachForm.value)">
              <label class="form-check-label text-body" for="attachVal">
                {{attachForm.name}}
              </label>
            </div>
            &nbsp;
            <div *ngIf="showAttached==true">
              <label class="text-body">Attach to:</label>
              <div class="form-check text-body" *ngFor="let allowedForm of allowedForms">
                <input #radioEvent class="form-check-input text-body" type="radio" (click)="setAttachedVal(allowedForm.value)" name="attachedVal" id="attachedVal">
                <label class="form-check-label text-body" for="attachedVal">
                  {{allowedForm.name}}
                </label>
              </div>
              <select class="form-select form-select-lg mb-3 text-body" aria-label=".form-select-lg example" [(ngModel)]="transmittedInfo" (ngModelChange)="updateTransmittedInfo(transmittedInfo)" name="transmittedInfo" ngDefaultControl>
              <option class="text-body" *ngFor="let transmittedInfo of transmittedInfos" [ngValue]="transmittedInfo" > {{transmittedInfo}} </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" *ngIf="show==true" class="btn btn-primary" (click)="attach()" data-bs-dismiss="modal"
            style="margin-left: 2%;">Attach</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 bg-black mt-2" style="display: block; position:relative; z-index: 1;">
      <button *ngIf="show==true" style='font-size:24px; ' class="bg-secondary" (click)="zoomOut()"><i class="fa fa-arrows-alt" style="color:white ;"></i></button>
      <button *ngIf="show==true" style='font-size:24px; margin-left: 1rem; margin-right: 2rem;' class="bg-secondary"  (click)="zoomIn()"><i class='fas fa-compress-arrows-alt'></i></button>
      <mat-form-field>
        <mat-label>Please choose the required forms to display:</mat-label>
        <mat-select [(ngModel)]="selectedValue" (ngModelChange)="nameChanged($event)" ngModel name="sgidfForm">
          <mat-option  data-bs-toggle="tooltip" data-bs-placement="right" title={{sgidfForm.tooltip}} *ngFor="let sgidfForm of sgidfForms" [disabled]="sgidfForm.disable" [value]="sgidfForm.value">
            {{sgidfForm.name}}  
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-primary" (click)="addNewElem()" style="margin-left: 2%; margin-right: 2%;">Add new Forms</button>

      <!-- Button trigger modal -->
      <button *ngIf="show==true" type="button" class="btn btn-primary" data-backdrop="false" data-bs-toggle="modal" data-bs-target="#attach">
        attach
      </button>

      <mat-form-field *ngIf="detachState==true" style="margin-left: 2%;">
        <mat-label>Detach:</mat-label>
        <mat-select  [(ngModel)]="dettachedVal" (ngModelChange)="updateDettachedVal($event)" ngModel name="sgidfForm">
          <mat-option *ngFor="let dettachTrack of dettachTracks" [value]="dettachTrack">
            {{dettachTrack}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" *ngIf="detachState==true" class="btn btn-primary" (click)="detach()"style="margin-left: 2%;">
        Detach
      </button>
      <button *ngIf="show==true" type="button" class="btn btn-primary" (click)="run()"style="margin-left: 2%; margin-right:3%">
        Run
      </button>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 mt-2" #parent id="parentdiv" style="display: block; position:relative;">
      <div class="container-fluid">
        <div class="row" #row cdkDrag (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary">
          <!-- Form group contactIdentifiers -->
          <div #IdentifiersElem id="IdentifiersElem" class="IdentifiersElem col-sm-2 col-md-4 col-lg-3 bg-primary ml-2" cdkDrag
          (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary" style="height:max-content; display:none; position:relative; margin: 2rem;">         
            <form [formGroup]="IdentifiersForms" (ngSubmit)="insertIdentityElement()" novalidate>
              <div class="lesson-form-row">
                <h4>identifier:</h4>
                <p>
                  <label selected>type: &nbsp;</label>
                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                    <option *ngFor="let identifierType of identifierTypes" [ngValue]="identifierType.name"> {{identifierType.name}} </option>
                  </select>
                  <br>
                  Value:&nbsp;
                  <input type="text" formControlName="value" class="input-Form">
                  <br>
                  Provider&nbsp;
                  <input type="text" formControlName="provider" class="input-Form">
                </p>
              </div>
              <button class="btn btn-info">insert identifier</button>
            </form>
          </div>

          <div #contactIdentifiersElem id="contactIdentifiersElem" class="contactIdentifiersElem col-sm-2 col-md-4 col-lg-3 bg-primary ml-2" cdkDrag
          (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary" style="height:max-content; display:none; position:relative; margin: 2rem;">
          <form [formGroup]="contactIdentifiersForms" (ngSubmit)="insertContactIdentityElement()" novalidate>
            <h4>Contact Identifiers</h4>
            <div class="lesson-form-row">
              <p>
                <label selected>Type: &nbsp;</label>
                <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                  <option *ngFor="let contactIdentifierType of contactIdentifierTypes" [ngValue]="contactIdentifierType.name"> {{contactIdentifierType.name}} </option>
                </select><br>
                Value: 
                <input type="text" formControlName="value" class="input-Form">
              </p>
            </div>
            <button class="btn btn-info">insert contact identifier</button>
          </form>
          </div>
          
          <!-- Create Identity -->
          <div #createIdentityElement id="createIdentityElement" class="createIdentityElement col-sm-2 col-md-4 col-lg-3 bg-primary ml-2" cdkDrag
            (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary" style="width: 540px; height:max-content; display:none; position:relative; margin: 2rem;">
            <form [formGroup]="createFullIdentity" (ngSubmit)="createNewUser(createFullIdentity)" novalidate>
              <h4 class="titleCreateIdentity"> Create identity</h4><hr>
              <!-- Create Identity Profile-->
              <div>
                <!-- Form group Profile -->
                <div formGroupName="profile">
                  <h4>Profile</h4>
                  <p>
                    <label for="formGroupExampleInput" class="form-label">Display name: &nbsp;</label>
                    <input type="text" name="profileLastName" formControlName="displayName" class="input-Form">
                    <label for="formGroupExampleInput" class="form-label">First name: &nbsp;</label>
                    <input type="text" name="profileFirstName" formControlName="firstName" class="input-Form">
                  </p>
                  <p>
                    <label for="formGroupExampleInput" class="form-label">Last name: &nbsp;</label>
                    <input type="text" name="profileLastName" formControlName="lastName" class="input-Form">
                    <label for="formGroupExampleInput" class="form-label">BirthDay:&nbsp;</label>
                    <input type="date" name="profileBirthDate" formControlName="birthdate" class="input-Form">
                  </p>
                  <p>
                    <label for="formGroupExampleInput" class="form-label">civility: &nbsp;</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      formControlName="civility">
                      <option *ngFor="let civility of civilities" [ngValue]="civility.id"> {{civility.name}} </option>
                    </select>
                    &nbsp;&nbsp;
                    <label for="formGroupExampleInput" class="form-label">Gender: &nbsp;</label>
                    <select class="form-select form-select-lg mb-2" aria-label=".form-select-lg example"
                      formControlName="gender">
                      <option *ngFor="let civility of civilities" [ngValue]="civility.id"> {{civility.val}} </option>
                    </select>
                  </p>
                </div>

                <div formGroupName="password">
                  <p>
                    Mot de passe:&nbsp;
                    <input type="password" formControlName="value" name="identitypassword" class="input-Form">
                  </p>
                </div>

                <!-- Form group contactIdentifiers -->
                <div formArrayName="identifiers">
                  <h4>identifiers:&nbsp;</h4>
                  <div *ngFor="let identifierForm of getIdentifiersForm.controls; let i = index">
                    <div class="lesson-form-row" [formGroup]="identifierForm">
                      <p>
                        <label selected>identifierType: &nbsp;</label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                          <option *ngFor="let identifierType of identifierTypes" [ngValue]="identifierType.name"> {{identifierType.name}} </option>
                        </select>
                        &nbsp;&nbsp;
                        Value:&nbsp;
                        <input type="text" formControlName="value" class="input-Form">
                        &nbsp;&nbsp;
                        Provider&nbsp;
                        <input type="text" formControlName="provider" class="input-Form">
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div formArrayName="contactIdentifiers">
                <h4>Contact Identifiers:&nbsp;</h4>
                  <div *ngFor="let contactForm of getConcatIdentifiers.controls; let i = index">
                  <div class="lesson-form-row" [formGroup]="contactForm">
                    <p>
                      <label selected>type: &nbsp;</label>
                      <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                        <option *ngFor="let contactIdentifierType of contactIdentifierTypes" [ngValue]="contactIdentifierType.name"> {{contactIdentifierType.name}} </option>
                      </select>
                      &nbsp;&nbsp;
                      Value: 
                      <input type="text" formControlName="value" class="input-Form">
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!-- CRUD Contact Identifiers Email/Mobile -->
          <div #contactIdentifiersElement id="contactIdentifiersElement" class="contactIdentifiersElement col-sm-2 col-md-4 col-lg-3 ml-2 bg-primary" cdkDrag
            (cdkDragMoved)="updatePosition()" cdkDragBoundary=".parentdiv-boundary" style="height:max-content; display:none; position:relative; margin: 2rem;">
            <form [formGroup]="modifiedContactIdentifier" (ngSubmit)="contactIdentifiersFn(modifiedContactIdentifier)"
              novalidate>
              <h4 class="titleCreateIdentity">Get Contact Identifier</h4>
              <hr>
              <h4>Select action: </h4>
              <p>
                <input type="radio" name="action" (cheked)="setAction('update')" (change)="setAction('update')"
                  class="input-radio"> Update contact Identifier <br>
                <input type="radio" name="action" (cheked)="setAction('add')" (change)="setAction('add')"
                  class="input-radio"> Add contact Identifier <br>
                <input type="radio" name="action" (cheked)="setAction('delete')" (change)="setAction('delete')"
                  class="input-radio"> Delete contact Identifier <br>
              </p>
              <div>
                <p>
                  <input type="checkbox" id="isPassword" name="isPassword" formControlName="isPassword"
                    class="input-radio">
                  <label for="formGroupExampleInput" class="form-label">Password</label>
                </p>
                <p>
                  <label>ContactidenfierType: &nbsp;</label>
                  <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="type">
                    <option *ngFor="let contactIdentifierType of contactIdentifierTypes" [ngValue]="contactIdentifierType.name"> {{contactIdentifierType.name}} </option>
                  </select>
                  Value: &nbsp;
                  <input type="email" formControlName="value" class="input-Form">
                </p>
              </div>
            </form>
          </div>

          <!-- CRUD get Identifier ID -->
          <div #getIdentifiersElement id="getIdentifiersElement" class="getIdentifiersElement col-sm-2 col-md-4 col-lg-3 bg-primary ml-2" cdkDrag (cdkDragMoved)="updatePosition()"
            cdkDragBoundary=".parentdiv-boundary" style="height:max-content; display:none; position:relative; margin: 2rem;">
            <form [formGroup]="getIdentifier" (ngSubmit)="getIdentifierId(getIdentifier)" novalidate>
              <h4 class="titleCreateIdentity">Get Identity</h4>
              <hr>
              <div>
                <label for="formGroupExampleInput" class="form-label">Email :</label>
                <input type="email" name="getIdentifierEmail" required formControlName="email" class="input-Form">
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>