
<mat-toolbar color="primary" class="header" >
  <div class="logodiv"> <img src="../assets/logo_sofrecom.png"></div>
  <span class="nav-tool-items">
    <mat-icon>logout</mat-icon> 
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>home</mat-icon> Home
      </a>
      
      <mat-expansion-panel class="navliste">
        <mat-expansion-panel-header class="navliste">
        <mat-panel-title>
          <mat-icon>place </mat-icon>
         Place          
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list >
        <mat-list-item ><mat-icon>calendar_today</mat-icon>Meeting</mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>






      
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <section class="mat-typography title-group">
      <router-outlet></router-outlet>
    <!-- <mat-divider></mat-divider>-->  
    </section>
    
    <!--<mat-card class="my-alternate-theme">
      My Alternate Themes: &nbsp; &nbsp; &nbsp;
      <button mat-raised-button color="primary">
        Primary
      </button>
      <button mat-raised-button color="accent">
        Accent
      </button>
      <button mat-raised-button color="warn">
        Warning
      </button>
    </mat-card> -->

    <!-- <div class="productCards">
      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">1
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">2
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">3
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">4
        </mat-grid-tile>
      </mat-grid-list>
    </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>
