.row {
  left: 50%;
  width: 50%;
  margin-left: 10px;
  top: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;

}

.titleAuth
{
  margin-left: 260px;
}

.form-group
{
  margin-left: 200px;
  width: 100%;
}

.btn .btn-primary
{
  margin-left: 200px;
  width: 100%;

}